* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 45deg,rgb(253, 208, 216), rgb(134, 231, 134));
    color: #535151;
}

.container {
    width: 30%;
    height: 400px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

  
}

.toggleWRapperAndTitleWrappper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    /* border: 1px solid black; */
    padding: 5px 10px;
}

.headingTitle {
    color: #f1f1f1;
    text-transform: uppercase;
    text-shadow: 5px 5px 1px rgba(0,0,0,0.3);
 
}

.ToggleBtn {
    border: transparent;
    border-radius: 30px;
    background-color: #000;
    width: 60px;
    height: 30px;
    display: flex;
    transition:all .3s ease;
    justify-content: flex-start;

}

.nightBackground {

    background-image: linear-gradient( 45deg,rgb(108, 105, 106), rgb(50, 73, 50));
    color: #c8bfbf;

}

.nightbtn {
     justify-content: flex-end; 
}
#imgToggleWrapper {
    width: 30px;
    transition:all .8s ease;
    /* border: 1px solid black; */

    
}

#imgToggleWrapper > img {
    width: 100%;    

}


.weatherDetail {
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 
    


}

#icon {
    display: block;
    margin: 20px;
    border-radius: 50%;
    
    backdrop-filter: drop-shadow(8px 8px 10px green);

}


#date {
    position: absolute;
    bottom: 20px;
    right: 20px;
}